In [ ]:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    # Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
# variable_name = value

num_int = 5

print(num_int)
print(type(num_int))

##### Assinging float

In [ ]:
num_float = 5.67

print(num_float)
print(type(num_float))

#### Performing Calculations on ints and floats

##### Addition

In [5]:
# uses the plus operator (+)
num1 = 13
num2 = 8.

#int + int= int
#float+float=> float

result = num1 + num2

print(result)
print(type(result))

21.0
<class 'float'>

##### Subtraction

In [6]:
# uses the minus operator (-)

result_diff = num1 - num2
print(result_diff)

#-= assigment operator
result_diff -= 2 # results_diff = result_diff -2
print (result_diff)

5.0
3.0

##### Multiplication

In [7]:
#uses the star or asterisk (*)

result_prod = 10 * 6
print(result_prod)

#*= assigment operator
result_prod *= 3

print(result_prod)

60
180

##### Division

In [10]:
# uses the forward slash (/)

#always results in a float

result_div = 50 / 5
print(result_div)
print(type(result_div))

#/= assigment operator
result_div /= 2 # result_div = result_div / 2
print(result_div)

10.0
<class 'float'>
5.0

##### Floor Division

In [11]:
# floor is defined as the highest interger that less than or equal to the value

result_normal = 15 / 4
print(result_normal)


#uses the double forward (//)

result_floor = 15 // 4
print(result_floor)
print(type(result_floor))

#//= assigment operator

result_floor //=2
print(result_floor)

3.75
3
<class 'int'>
1

##### Modulo

In [13]:
#uses the percent operator (%)
#will return the REMAINDER of a division problem

num3 = 48
num4 = 5

result_mod = num3 % num4
print(result_mod)

# %= assigment operator
result_mod %= 2 # result_mod = result_mod % 2
print(result_mod)

3
1

##### Exponential

In [14]:
# uses the double-asterisk (**)

num5 = 3
num6 = 2

cubed = num6 ** num5 # num6 raised to the num5 power

print(cubed)

#**= assigment operator
cubed **= 3

print (cubed)

8
512

### String Input-Output

##### String Assignment

In [15]:
name1 = "Mabel"
print(name1)
print(type(name1))

Mabel
<class 'str'>

In [16]:
name2 = 'Torres'
print(name2)
print(type(name2))

Torres
<class 'str'>

In [12]:
# NEED THE QUOTATION MARKS!
wrong = "astring"

You can't do that

In [19]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

##### Escape Characters

In [20]:
contraction2 = 'you can't do that'
print(contraction2)

SyntaxError: unterminated string literal (detected at line 1) (1292364118.py, line 1)

In [15]:
print('Hello 
      how are you')

SyntaxError: EOL while scanning string literal (<ipython-input-15-d3d3e1c09ab7>, line 1)

In [16]:
print('Hello\
 how are you?')

Hello how are you?

In [17]:
# \n
print("Hello\nhow are you?")

Hello
how are you?

In [18]:
# \t
print("Hello\thow are you?")

Hello	how are you?

In [19]:
# Raw String
print(r"Hello\nhow are you?")

Hello\nhow are you?

##### String Concatenation

In [20]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

# Short-hand version
full_name += " Jr"
print(full_name)

John Smith
John Smith Jr

In [21]:
num_a = 10
num_b = "10"

num_c = num_a + num_b
print(num_a + num_b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

##### Type Conversion

In [22]:
# To convert, call the built-in type fuction e.g str for string, int for Intergers, ect. - will return value

num_a_as_int = int(num_a)
print(type(num_a_as_int))

num_c_add = num_a_as_int + num_b
print(num_c_add)

NameError: name 'num_a' is not defined

In [23]:
num_a_str = str(num_a)

print(num_a, type(num_a))
print(num_a_str, type(num_a_str))

print(num_a_str + num_b)

10 <class 'int'>
10 <class 'str'>
1010

##### .format() and f-strings

In [24]:
name = "Brian"
home = "Chicago"

print("Hello my name is {} and I am from {}!".format(name, home))
print(f"Hello my name is {name} and I am from {home}!")

Hello my name is Brian and I am from Chicago!
Hello my name is Brian and I am from Chicago!

##### Old Way (python 2)

In [25]:
print("Hello my name is %s and I am from %s" % (name, home) )

Hello my name is Brian and I am from Chicago

In [26]:
result = 10 + 5

print("The result is %i" % result)

The result is 15

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [24]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2023'
model = 'Focus'

print(f"I drive a {color} {year} {make} {model}.")

I drive a blue 2023 Ford Focus.

### Booleans

In [28]:
bool_true = True

print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [29]:
bool_false = False

print(bool_false)
print(type(bool_false))

False
<class 'bool'>

### If Statements

In [30]:
# if <expression>:
#     <statement>

# INDENTATION MATTERS!!!!!! Lines indented under the if will only run if the condition is true!

if True:
    print('Hello this is True')

Hello this is True

In [25]:
if False:
    print('Hello this is False')

In [32]:
print('Start of Code')

if True:
    print('Hello')
    print('How are you?')
    print('Good')
    
print('End of Code')

Start of Code
Hello
How are you?
Good
End of Code

In [26]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10
num2 = 5
num3 = 2

print(num1 > num2)
print(num1 == num2 * 2)
print(num1 != num3)
print(num1 > num2 * num3)

True
True
True
False

In [34]:
if num1 > num2:
    print('num1 is greater than num2')
    
if num1 == num2 * 2:
    print('num1 is double the value of num2')
    
    
if num1 != num3:
    print('num1 and num3 are not equal')

num1 is greater than num2
num1 is double the value of num2
num1 and num3 are not equal

## Using 'and'/'or' with If Statements

In [35]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F

if num1 > num2 and num2 < num3:
    print('Both expressions are true')
    
    
if num1 > num2 or num2 < num3:
    print('At least one expression is true')

At least one expression is true

### Else Statements

In [36]:
# An else statement runs when the if statement above it evaluates to False

required_height = 60
rider_height = 48


if rider_height >= required_height:
    print('Enjoy the ride!')
else:
    print('Sorry, you are not tall enough to ride :(')

Sorry, you are not tall enough to ride :(

### Elif Statements

In [37]:
# An elif only runs when the if (or elif) directly above it evaluates to False
required_age = 18
with_a_parent = 14

movie_goer_age = 15


if movie_goer_age >= required_age:
    print('Enjoy the film!')
elif movie_goer_age >= with_a_parent:
    print('You must be accompanied by an adult to see this film')
else:
    print('You are not old enough to see this film')

You must be accompanied by an adult to see this film

In [38]:
required_age = 18
with_a_parent = 14

movie_goer_age = 35


if movie_goer_age >= required_age:
    print('Enjoy the film!')
elif movie_goer_age >= with_a_parent:
    print('You must be accompanied by an adult to see this film')
else:
    print('You are not old enough to see this film')

Enjoy the film!

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [39]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
# person_age = 8 # Output: Your ticket is $5.00

### Lists

##### Declaring Lists

In [40]:
l_1 = [] # Empty List Declaration

print(l_1)
print(type(l_1))

names = ['Max','Cindy','Kathy', "bob","Nate"]

print(names)
print(type(names))

[]
<class 'list'>
['Max', 'Cindy', 'Kathy', 'bob', 'Nate']
<class 'list'>

##### Indexing a List

In [41]:
# [start: stop: step] -- [-1]

#Single Index
print(names[0])

# Print starting at index 1 going to the end
print(names[1:])

#Print starting at beginning of list to N (n == the number we want to stop at)
print(names[:2])

# print starting at index 1 going up BY 2 in each iteration
print(names[1::2])

# print starting at the back and present in reverse order
print(names[::-1])

Max
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [42]:
# list.append(value_to_append) - adds value to end of the list

names.append('Brian')
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Brian']

##### .insert()

In [43]:
# list.insert(index,value) - adds value to the list at index

names.insert(3, "Gabby")
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 'bob', 'Nate', 'Brian']

##### .pop()

In [44]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

# my_name = names.pop()
# print(my_name)

print(names.pop(2))

Kathy


##### .index()

In [45]:
# list.index(value) - the index of the first item to match the value

names.index('bob')

3


##### .count()

In [46]:
# list.count(value) - number of times the value appears in the list

names.count('bob')

1


##### .remove()

In [47]:
# value to be removed , not index

names.remove('bob')


##### .clear()

In [48]:
# removes all values from a list

names.clear()

##### Concatenating Two Lists

In [49]:
# will append two lists together, not add up the elements in each list

l_2 = [0,1,2]
l_3 = [3,4,5]

large_list = l_2 + l_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [50]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ["Max", "Sam","Josh",["Sally","Sue","Tameka"]]

print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

### For Loops

In [51]:
# for <keyword> in <iterable>:
#     <statement>
    
for x in [5, 10, 15, 20, 25, 30, 35, 40]:
    print(x)

5
10
15
20
25
30
35
40

In [52]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

for c in colors:
    print(c)

red
orange
yellow
green
blue
indigo
violet

##### Continue Statement

In [53]:
# will continue to next iteration

In [54]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

##### Break Statement

In [55]:
# will break out of current loop

In [56]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if i == 5:
        break
    print(i)

1
2
3
4

##### Pass Statement

In [57]:
# mostly used as a placeholder, and will continue on same iteration

In [58]:
for i in name:
    pass # TODO: COME BACK AND FINISH IMPLEMENTATION

In [59]:
if 'red' in colors:
    pass

##### Nested/Double For Loops

In [60]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [61]:
# while <conditional>:
#     <statement to run while condition is true>

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [62]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

### Built-In Functions

##### input()

In [63]:
# input(question) => ALWAYS RETURNS A STRING
answer = input('What is your answer to this question? ')

print(answer)

What is your answer to this question? Answer
Answer

In [64]:
age = input('How old are you? ')

age_in_five = age + 5

print(age_in_five)

How old are you? 99

TypeError: can only concatenate str (not "int") to str

##### range()

In [65]:
#Start, Stop, Step
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [66]:
# check Length of variable
name = "Max"

length = len(name)
print(length)

3

In [67]:
cities = ['Chicago', 'New York', 'Los Angeles']

print(len(cities))

3

##### help()

In [68]:
# Use this function to view more info about a python function (With a DOCSTRING)
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [69]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

print(isinstance(4.5,int))

if isinstance(4.5,float):
    print("This number is a float type")

False
This number is a float type

##### Looping Through Lists

In [72]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)
for i in range(len(names)):
    print(names[i])
    
# Loop with a for loop (Using the 'in' keyword)
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [35]:
for i in range (1, 1001):
    print(i**1)
print('loop is finished')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
loop is finished

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didnt
# An else after a for runs if the for didnt break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors. Gracefully log the error if the user doesn't enter a number </p>